[Unit]
Description=BOLT 3 Software
After=network.target

[Service]
ExecStart=/home/dash/dash/os/startup.sh
WorkingDirectory=/home/dash/dash/os
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=BOLTSoftware
User=dash
Group=dash
Restart=always
