[Unit]
Description=BOLT 3 Software

[Service]
ExecStart=/home/dash/dash/os/startup.sh
WorkingDirectory=/home/dash/dash/os
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=BOLT Software
User=dash
Group=dash
